@model IEnumerable<DBModel.student>

@{
    ViewBag.Title = "Admin Page";
}

<h2>Index</h2>

<p>
   <!-- @Html.ActionLink("Create New", "Create")-->
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.alumni_id)
        </th>
        <td><b>
            @Html.DisplayNameFor(model => model.linkedinAccount.firstname)</d>
        </td>
        <td><b>
            @Html.DisplayNameFor(model => model.linkedinAccount.lastname)</b>
        </td>
        <td><b>
            @Html.DisplayNameFor(model => model.linkedinAccount.email)</b>
        </td>
        <th>
            @Html.DisplayNameFor(model => model.Campus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.skill_1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.skill_2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.skill_3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.programfast)
        </th>


        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.alumni_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.linkedinAccount.firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.linkedinAccount.lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.linkedinAccount.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Campus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.skill_1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.skill_2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.skill_3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.programfast)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.record_id }) |
            @Html.ActionLink("Details", "Details", new { id = item.record_id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.record_id })
        </td>
    </tr>
}

</table>
